@using Jurassic.WebGeoBank;
@model Dictionary<string, List<string>>
@{
    ViewBag.Title = "元数据维护";
}
@section UserToolBar{
    <a class="mini-button frame-submit" iconcls="icon-new-save" plain="true" value="">@JStr.Save</a>
}
<div class="container">
    <div>请在下面输入可选关键词，每行一个：</div>
    @foreach (string key in Model.Keys)
    {
        <div class="col-md-3" style="margin-top:4px;">
            <div>@Html.Str(key)：</div>
            <div>
                @*这里不能用input开头否则不会换行*@
                <textarea class="mini-textarea" name="@key" style="width:100%;height:180px" value="@String.Join("\r\n", Model[key])"></textarea>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    mini.parse();

    $.regButton({
        text: '@JStr.Save',
        beforeSubmit: function (ajax) {
            ajax.url = '@Url.Action("EditTypes")';
        }
    });
</script>